#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf


# __CRIO__
__CRIO__/metadata.json merge=copy-merge